<!DOCTYPE html>
<html layout:decorate="~{rtms/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/rtms/css/fragment/tab-menu.css">
    <link rel="stylesheet" href="/rtms/css/rtms-form.css" />
    <title>Ubah Password</title>
</head>

<body>
    <div layout:fragment="header">
        <div
            th:replace="rtms/component/breadcrumb::template (data = ${ {{'Beranda','/trip/rtms', ''},{' Profil','/user/profile/rtms', ''},{' Ubah Password','/user/profile/rtms/edit-password', 'active'}} } )">
        </div>
    </div>
    <div layout:fragment="content">
        <div class="content-inner">
            <div class="bg-white">
                <form class="main-form" method="POST" th:action="@{'/user/profile/rtms/edit-password'}" role="form">
                    <input type="hidden" name="id" th:value="${response.object.id}">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Password sekarang</label>
                            <input type="password" class="form-control input-counter"
                                name="oldPassword" placeholder="Masukkan Password sekarang" required>
                           
                        </div>
                        <h4 class="invisible">Invis</h4>
                        <div class="form-group">
                            <label>Password baru</label>
                            <input type="password" placeholder="Masukan password baru" class="form-control new-password"
                                name="newPassword" required>
                        </div>                        
                        <div class="form-group">
                            <label>Konfirmasi Password baru</label>
                            <input type="password" class="form-control has-error confirm-password"
                                name="" placeholder="Masukan password baru" required>
                            <label style="display: none;">Password tidak sama</label>
                        </div>
                    </div>
                    <div class="box-footer btn-multi">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div layout:fragment="footer-js">
        <script>
            $(function () {
                $(".confirm-password").keyup(function (event) {
                    var newPassword = $(".new-password").val();
                    var confirmPassword = $(".confirm-password").val();

                    if(newPassword != confirmPassword){
                        $(this).parent().addClass("has-error");
                        $(this).next().css("display","block");
                    }else{
                        $(this).parent().removeClass("has-error");
                        $(this).next().css("display","none");
                    }
                });
            });
        </script>
    </div>
</body>

</html>