<!DOCTYPE html>
<html layout:decorate="~{rtms/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/rtms/css/fragment/tab-menu.css">
    <link rel="stylesheet" href="/rtms/css/rtms-form.css" />
    <title>Buat Jadwal</title>
</head>

<body>
    <div layout:fragment="header">
        <div
            th:replace="rtms/component/breadcrumb::template (data = ${ {{'Beranda','/trip-title', ''},{'Rencana Perjalanan','/trip-schedule', ''},{'Jadwal','/trip-schedule', ''},{'Buat Jadwal','/trip-schedule', 'active'}} } )">
        </div>
    </div>
    <div layout:fragment="content">
        <div class="content-inner">
            <div
                th:replace="rtms/component/tabMenu::template (data = ${ {{'1. Tanggal & Harga','/trip/rtms/form/price-date?tripId='+param.tripId+'&tripPriceId='+param.tripPriceId, 'visited'},{'2. List Motor','/trip-schedule', 'active'}} } )">
            </div>
            <div class="bg-white">
                <form class="main-form" role="form" method="POST" th:action="${'/trip/rtms/form/price-motor/'+param.tripPriceId+'/submit'}">
                    <div class="box-body" style="min-height: 80vh;">
                        <button type="button" class="btn btn-success w-100" data-toggle="modal"
                            data-target="#modal-default">+ Motor</button>
                        <div class="price-motor-container">
                            <div th:replace="rtms/component/priceMotorCard::template (data = ${response.object},isReserve=${isReserve})"></div>
                        </div>
                    </div>
                    <div class="box-footer btn-multi">
                        <button class="btn btn-default">Kembali ke List</button>
                        <button type="submit" class="btn btn-primary">Selanjutnya</button>
                    </div>
                    <div th:replace="rtms/component/modalPickList::template (data = ${listMotor})"></div>
                </form>
            </div>
        </div>
    </div>
    <div layout:fragment="footer-js">
        <script>
            $(function () {
                $(document).on("click", ".modal-footer .btn", function () {
                    $('.modal-body .checkbox input').each(function () {
                        var arrIndex = 0;
                        if($('.price-motor .card').length < 1){
                            arrIndex = $('.price-motor .card').length + 1;
                        }
                        else{
                            var nameInput = $('.price-motor .card:last-of-type').find('#id-trip-price-motor').attr('name');
                            var inNameInput = nameInput.split('[').pop().split(']')[0]; 
                            arrIndex = parseInt(inNameInput) + 1
                        }
                        if ($(this).is(':checked')) {
                            var elCard = $('.price-motor .dummy').clone();
                            elCard.find('#id-trip-price-motor').val(0);
                            elCard.find('#id-motor').val($(this).attr('data-id'));
                            elCard.find('#title-motor').html($(this).val());
                            elCard.removeClass('dummy collapse');
                            elCard.addClass('card');
                            elCard.find('#id-trip-price-motor').attr('name', 'tripPriceMotorList['+arrIndex+'].id');
                            elCard.find('#id-motor').attr('name', 'tripPriceMotorList['+arrIndex+'].bike.id');
                            elCard.find('#id-motor').prop('required', true);
                            elCard.find('#qty-motor').attr('name', 'tripPriceMotorList['+arrIndex+'].stock');
                            elCard.find('#qty-motor').prop('required', true);
                            elCard.find('#price-motor').attr('name', 'tripPriceMotorList['+arrIndex+'].price');
                            elCard.find('#price-motor').prop('required', true);
                            console.log(arrIndex);
                            $('.price-motor').append(elCard);
                        }
                        $(this).prop("checked", false);
                    });
                });
                $(document).on("click", ".price-motor .card .qty-group .btn", function(){
                    var idBtn = $(this).attr('id');
                    if(idBtn=='qty-plus'){
                        $(this).parent().prev().prev().find('.btn').removeAttr('disabled');
                        var inQty = $(this).parent().prev().find('input');
                        var qty = inQty.val();                 
                        inQty.val(parseInt(qty)+1);
                    }
                    else{
                        var inQty = $(this).parent().next().find('input');
                        var qty = inQty.val();
                        $(this).prop('disabled', qty=='2' ? true:false);
                        inQty.val(parseInt(qty)-1);
                    }

                });
                $(document).on("click", ".price-motor #remove", function () {
                    $(this).parent().parent().remove();
                });
            });
            function filterByTyping() {
                var input, filter, listCb, label, i, txtValue;
                input = document.getElementById("filterMotor");
                filter = input.value.toUpperCase();
                listCb = document.querySelectorAll('.modal-body .checkbox');
                for (i = 0; i < listCb.length; i++) {
                    label = listCb[i].querySelector("input").value.toUpperCase();
                    if (label.indexOf(filter) > -1) {
                        listCb[i].style.display = "";
                    } else {
                        listCb[i].style.display = "none";
                    }
                }
            }
        </script>
    </div>
</body>

</html>