<!DOCTYPE html>
<html layout:decorate="~{rtms/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/rtms/css/bootstrap-tokenfield.min.css">
    <link rel="stylesheet" href="/rtms/css/fragment/tab-menu.css">
    <link rel="stylesheet" href="/rtms/css/rtms-form.css" />
    <title>Buat Perjalanan</title>
</head>

<body>
    <div layout:fragment="header">
        <div
            th:replace="rtms/component/breadcrumb::template (data = ${ {{'Beranda','/trip/rtms', ''},{' Rencana Perjalanan','/trip/rtms', ''},{' Buat Perjalanan','/trip/rtms/form', 'active'}} } )">
        </div>
    </div>
    <div layout:fragment="content">
        <div class="content-inner">
            <div
                th:replace="rtms/component/tabMenu::template (data = ${ {{'1. Judul & Deskripsi', '/trip/rtms/form?tripId='+param.tripId, 'visited'},{'2. Jadwal Perjalanan', '/trip/rtms/form/itinerary?tripId='+param.tripId+'&itineraryGroupId=1', 'active'}} } )">
            </div>
            <div class="bg-white">
                <form class="main-form" role="form" method="POST"
                    th:action="${'/trip/rtms/form/itinerary/'+param.tripId+'/submit'}">
                    <div class="box-body">
                        <div th:replace="rtms/component/itineraryForm::template (trip=${trip},data=${response.object})">
                        </div>
                    </div>
                    <div class="box-footer btn-multi">
                        <a href="/trip/rtms" class="btn btn-default">Kembali ke List</a>
                        <button type="submit" class="btn btn-primary">Selanjutnya</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div layout:fragment="footer-js">
        <script src="https://cdn.tiny.cloud/1/h5x6x3ljqgk1t01ru240uzue8tn77zevvojqax6ejrfraog5/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
        <script src="/rtms/js/jquery.html5uploader.min.js"></script>
        <script src="/rtms/js/bootstrap-tokenfield.min.js"></script>
        <script src="/rtms/js/upload.js"></script>
        <script src="/rtms/js/tinymce.js"></script>
        <script>
            $(function () {
                editor_textarea();
                $('.itinerary-section').each(function (i) {
                    upload_trip("/api/trip/upload_trip", "cover-potrait-" + i, "#cover-potrait-" + i, "#hidden-cover-potrait-" + i, 640, 640, "potrait");
                });
                var isDisabled = $('.itinerary-section').length <= 1;
                $('.itinerary-section:last-of-type #remove').prop('disabled', isDisabled);
                $(document).on('click', '.input-icon', function () {
                    $(this).prev().click();
                    return false;
                });
                $('input.title-day').on('blur', function () {
                    var val = $('input.title-day').val();
                    $('.title-group').each(function () {
                        $(this).val(val);
                    });
                });
                $('.itinerary-form .main .btn-default').click(function () {
                    var isDisabled = $('.itinerary-section').length <= 1;
                    $('.itinerary-section #remove').removeAttr('disabled');
                    //var lastSection = $('.itinerary-section').length;
                    var lastSection = 0;
                    if ($('.itinerary-section').length <= 1) {
                        lastSection = $('.itinerary-section').length;
                    }
                    else {
                        var nameInput = $('.itinerary-section:last-of-type').find('.id').attr('name');
                        var inNameInput = nameInput.split('[').pop().split(']')[0];
                        lastSection = parseInt(inNameInput) + 1;
                    }
                    var elDummy = $(this).prev().clone();
                    elDummy.find('.init-mce').html('<label>Deskripsi</label><textarea name="itineraries[' + lastSection + '].description" class="form-control mce-editor dummy" rows="4" placeholder="Masukkan deskripsi singkat"></textarea>');
                    elDummy.find('.id').attr({ value: '0', name: 'itineraries[' + lastSection + '].id' });
                    elDummy.find('.title textarea').attr({ name: 'itineraries[' + lastSection + '].title' });
                    elDummy.find('.title textarea').val('').text('');
                    elDummy.find('.image > input.dummy').attr({ value: '', name: 'itineraries[' + lastSection + '].imageUrl', id: 'hidden-cover-potrait-' + lastSection });
                    elDummy.find('.image input[type=file]').attr({ value: '', id: 'cover-potrait-' + lastSection });
                    elDummy.find('.image .upload-box img').attr('src', '');
                    elDummy.find('.image .upload-box > div:first-of-type').attr('class', 'wrap_cover-potrait-' + lastSection + ' collapse');
                    if (elDummy.find('.image .upload-box > div').length > 1) {
                        elDummy.find('.image .upload-box > div:last-of-type').remove();
                    }
                    elDummy.find('.image .upload-box .text-info').text('');
                    elDummy.find('.title-group').attr({ name: 'itineraries[' + lastSection + '].groupTitle' });
                    elDummy.find('.id-group').attr({ name: 'itineraries[' + lastSection + '].group' });
                    $(this).prev().after(elDummy);
                    editor_textarea();
                    upload_trip("/api/trip/upload_trip", "cover-potrait-" + lastSection, "#cover-potrait-" + lastSection, "#hidden-cover-potrait-" + lastSection, 640, 640, "potrait");
                });
                $(document).on("click", ".itinerary-section #remove", function (event) {
                    var container = $(this).parent();
                    var indDel = $('.list-del input').length > 0 ? $('.list-del input').length : 0;
                    if ($('.list-del').length > 0) {
                        var delId = container.find(':first-child').val();
                        console.log(delId)
                        if (delId == null || delId == '') {
                            delId = 0;
                        }
                        var hiddenDelId = $('<input>', {
                            'type': 'hidden',
                            'name': 'deletedItinerary[' + indDel + '].id',
                            'value': delId
                        });
                        $('.list-del').append(hiddenDelId);
                    }
                    container.remove();
                    var isDisabled = $('.itinerary-section').length <= 1;
                    $('.itinerary-section:last-of-type #remove').prop('disabled', isDisabled);
                })

            });
        </script>
    </div>
</body>

</html>