<!DOCTYPE html>
<html layout:decorate="~{rtms/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/rtms/css/bootstrap-tokenfield.min.css">
    <link rel="stylesheet" href="/rtms/css/fragment/tab-menu.css">
    <link rel="stylesheet" href="/rtms/css/rtms-form.css" />
    <title>Buat Perjalanan</title>
</head>

<body>
    <div layout:fragment="header">
        <div
            th:replace="rtms/component/breadcrumb::template (data = ${ {{'Beranda','/trip/rtms', ''},{' Rencana Perjalanan','/trip/rtms', ''},{' Buat Perjalanan','/trip/rtms/form', 'active'}} } )">
        </div>
    </div>
    <div layout:fragment="content">
        <div class="content-inner">
            <div
                th:replace="rtms/component/tabMenu::template (data = ${ {{'1. Judul & Deskripsi', param.tripId != 0 && param.tripId != null ? '/trip/rtms/form?tripId='+param.tripId : '/trip/rtms/form', 'active'},{'2. Jadwal Perjalanan', param.tripId[0] != '0' && param.tripId != null ? '/trip/rtms/form/itinerary?tripId='+param.tripId+'&itineraryGroupId=1' : '#', param.tripId[0] != '0' && param.tripId != null ? 'visited' : ''}} } )">
            </div>
            <div class="bg-white">
                <form class="main-form" method="POST" action="/trip/rtms/form/trip/submit" role="form">
                    <input type="hidden" name="id"
                        th:value="${response.object.id != null && response.object.id != 0 ? response.object.id : 0}">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Judul</label>
                            <input th:value="${response.object.title}" type="text" class="form-control input-counter"
                                name="title" placeholder="Masukkan Judul" maxlength="100" autocomplete="off" required>
                            <span class="help-block">100/100</span>
                        </div>
                        <div class="form-group">
                            <label>Deskripsi</label>
                            <textarea th:text="${response.object.description}" name="description"
                                class="form-control mce-editor" rows="6" placeholder="Masukkan deskripsi singkat"
                                required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Durasi Perjalanan</label>
                            <input th:value="${response.object.duration}" type="number" class="form-control"
                                name="duration" placeholder="Masukkan hari" required>
                        </div>
                        <div class="form-group">
                            <label>Jarak Tempuh</label>
                            <input th:value="${response.object.distance}" type="number" class="form-control"
                                name="distance" placeholder="Masukkan jarak tempuh (km)" required>
                        </div>
                        <div class="form-group">
                            <label>Thumbnail Landscape Perjalanan</label>
                            <input type="url" id="hidden-cover-landscape" style="opacity: 0; position: absolute;"
                                name="coverLandscape" th:value="${response.object.coverLandscape}" required />
                            <input type="file" id="cover-landscape" style="display: none;" />
                            <div class="input-icon">
                                <input type="text" class="form-control mask-file" value="Upload gambar (1280 x 720 px)"
                                    readonly />
                            </div>
                            <span class="help-block">Maks. 150kb</span>
                            <div
                                th:replace="rtms/component/uploadSuccessBox::template(section = ${'cover-landscape'}, urlImageField=${response.object.coverLandscape})">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Thumbnail Potrait Perjalanan</label>
                            <input type="url" id="hidden-cover-potrait" name="coverPotrait"
                                th:value="${response.object.coverPotrait}" style="opacity: 0; position: absolute;"
                                required />
                            <input type="file" id="cover-potrait" style="display: none;" />
                            <div class="input-icon">
                                <input type="text" class="form-control mask-file" value="Upload gambar (720 x 1280 px)"
                                    readonly />
                            </div>
                            <span class="help-block">Maks. 150kb</span>
                            <div
                                th:replace="rtms/component/uploadSuccessBox::template(section = ${'cover-potrait'}, urlImageField=${response.object.coverPotrait})">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Max Rider</label>
                            <input th:value="${response.object.maxRider}" type="number" class="form-control"
                                name="maxRider" placeholder="Maksimum Rider" required>
                        </div>
                        <div class="form-group">
                            <label>Medan Jalan</label>
                            <input type="text" th:value="${response.object.terrain}" class="form-control" name="terrain"
                                placeholder="Masukkan Judul" required>
                        </div>
                        <div class="form-group">
                            <label>Lokasi</label>
                            <input th:value="${response.object.location}" type="text" class="form-control"
                                name="location" placeholder="Masukkan lokasi" required>
                        </div>
                        <div class="form-group">
                            <label>Titik Kumpul</label>
                            <textarea th:text="${response.object.meetingPoint}" name="meetingPoint"
                                class="mce-editor form-control" rows="4" placeholder="Masukkan titik kumpul"
                                required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Peta Perjalanan (Google Maps)</label>
                            <input th:value="${response.object.map}" type="text" class="form-control" name="map"
                                placeholder="Masukkan link embed peta google">
                        </div>
                        <div class="form-group">
                            <label>Tag</label>
                            <input th:value="${response.object.tag}" type="text" class="form-control" name="tag"
                                placeholder="Masukkan Tag, diakhiri koma" required>
                        </div>
                        <div class="form-group facility-group">
                            <label>Fasilitas</label>
                            <th:block th:each="facility, iterStat:${facilities}">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="check-facility" th:value="${facility.id}"
                                            name="facilities[]"
                                            th:checked="${response.object.facilityInclude != udefined ? #lists.contains(response.object.facilityInclude, facility.id) : false}"  />
                                        [[${facility.name}]]
                                    </label>
                                </div>
                            </th:block>
                            <input type="hidden" name="facilityInclude" id="trip-facility"
                                th:value="${response.object.facilityInclude}">
                        </div>
                        <div class="form-group">
                            <label>Tidak termasuk dalam fasilitas</label>
                            <textarea th:text="${response.object.facilityNot}" name="facilityNot"
                                class="mce-editor form-control" rows="4"
                                placeholder="Masukkan yang tidak termasuk dalam fasilitas"></textarea>
                        </div>
                    </div>
                    <div class="box-footer btn-multi">
                        <a href="/trip/rtms" class="btn btn-default">Kembali ke List</a>
                        <button type="submit" class="btn btn-primary">Selanjutnya</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div layout:fragment="footer-js">
        <script src="https://cdn.tiny.cloud/1/h5x6x3ljqgk1t01ru240uzue8tn77zevvojqax6ejrfraog5/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
        <script src="/rtms/js/jquery.html5uploader.min.js"></script>
        <script src="/rtms/js/bootstrap-tokenfield.min.js"></script>
        <script src="/rtms/js/upload.js"></script>
        <script src="/rtms/js/tinymce.js"></script>

        <script>
            $(function () {
                editor_textarea();
                upload_trip("/api/trip/upload_trip", "cover-landscape", "#cover-landscape", "#hidden-cover-landscape", 640, 640, "landscape");
                upload_trip("/api/trip/upload_trip", "cover-potrait", "#cover-potrait", "#hidden-cover-potrait", 640, 640, "potrait");

                $('.input-icon').on("click touchend", function () {
                    $(this).prev().click();
                    return false;
                });
                $('input[name=tag]').on('tokenfield:initialize', function (e) {
                    var existingTokens = $(this).tokenfield('getTokens');
                    if (existingTokens.length > 0) {
                        $(".token").wrapAll("<div class='wrap-token' />");
                    }
                    else {
                        $('.token-input').before("<div class='wrap-token' />");
                    }
                }).tokenfield();
                $('input[name=tag]').on('tokenfield:createdtoken', function (event) {
                    var existingTokens = $(this).tokenfield('getTokens');
                    $('.tokenfield > .token').detach().appendTo('.tokenfield .wrap-token');
                    $.each(existingTokens, function (index, token) {
                        if (token.value === event.attrs.value) {
                            event.preventDefault();
                        }
                    });
                });
                var facility = $('#trip-facility').val();
                $('#trip-facility').val(facility.replace("[", "").replace("]", ""));

                // var textarea = $("#my_textarea");
                $(".input-counter").each(function(){
                    var maxlength = $(this).attr("maxlength");
                    var currentLength = $(this).val().length;
                    $(this).next().html(maxlength-currentLength+'/100');
                })
                $(".input-counter").keyup(function (event) {
                    var maxlength = $(this).attr("maxlength");
                    var currentLength = $(this).val().length;
                    if (currentLength >= maxlength) {
                        $(this).next().html('0');
                        console.log("You have reached the maximum number of characters.");
                    } else {
                        $(this).next().html(maxlength-currentLength+'/100');
                        //console.log(maxlength - currentLength + " chars left");
                    }
                });

            });
            var checked = $('#trip-facility').val() != null && $('#trip-facility').val() != "" ? $('#trip-facility').val() : []
            var array = JSON.parse(checked.length != 0 ? $('#trip-facility').val() : "[]");
            var requiredCheckboxes = $('.facility-group :checkbox[required]');
            $('.check-facility').change(function () {
                var $this = $(this);
                if ($this.is(":checked")) {
                    array.push(parseInt($this.val()));
                    requiredCheckboxes.removeAttr('required');
                }
                else {
                    array = array.filter(x => x != $this.val());
                    requiredCheckboxes.attr('required', 'required');
                }
                $('#trip-facility').val(array)
            });

        </script>
    </div>
</body>

</html>