<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <!--<li class="treeview">-->
      <!--<a href="/home">-->
        <!--<i class="fa fa-dashboard"></i> <span>Dashboard</span>-->
      <!--</a>-->
    <!--</li>-->
    <li th:if="${#httpServletRequest.isUserInRole('ADMINISTRATOR') || #httpServletRequest.isUserInRole('ROLE_ROAD_CAPTAIN')}"><a href="/trip/rtms">Rencana Perjalanan</a></li>
    <li th:if="${#httpServletRequest.isUserInRole('ADMINISTRATOR') || #httpServletRequest.isUserInRole('ROLE_ROAD_CAPTAIN')}"><a href="/transaction/rtms/list">Trip Akan Datang</a></li>
    <li th:if="${#httpServletRequest.isUserInRole('ADMINISTRATOR') || #httpServletRequest.isUserInRole('ROLE_ROAD_CAPTAIN')}"><a href="/user/profile/rtms">Profil</a></li>
    <li th:if="${#httpServletRequest.isUserInRole('ADMINISTRATOR') || #httpServletRequest.isUserInRole('ROLE_ROAD_CAPTAIN')}"><a href="/help/rtms">Bantuan</a></li>
    <li th:if="${#httpServletRequest.isUserInRole('ADMINISTRATOR') || #httpServletRequest.isUserInRole('ROLE_ROAD_CAPTAIN')}" class="treeview"><a href="/logout">Keluar</a></li>
  </ul>
</section>
<!-- /.sidebar -->