<!DOCTYPE html>
<html layout:decorator="rtms/layout">

<head>
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>R2R-Trip</title>
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/s/bs/jqc-1.11.3,dt-1.10.10/datatables.min.css" />
	<link rel="stylesheet" href="/rtms/css/component/trip-card.css" />
	<link rel="stylesheet" href="/rtms/css/fragment/modal.css" />
    <link rel="stylesheet" href="/rtms/css/fragment/tab-menu.css">
	<link rel="stylesheet" href="/rtms/css/rtms-form.css" />
	<style>
		
	</style>
</head>

<body>
	<div layout:fragment="header">
        <div
            th:replace="rtms/component/breadcrumb::template (data = ${ {{'Beranda','/trip/rtms', ''},{' Rencana Perjalanan','/trip/rtms', 'active'}} } )">
        </div>
    </div>
	<div layout:fragment="content">
		<div class="content-inner">
			<div class="box-body">
				<form class="main-form" role="form">
					<div class="itinerary-form">
						<div class="tab-day">
							<div th:class="${#strings.equalsIgnoreCase(tripStatus, 'waiting')? 'active' : ''}"  th:onclick="'window.location.href = \''+@{/transaction/rtms/list}+'\''" >Trips Akan Datang</div>
							<div th:class="${#strings.equalsIgnoreCase(tripStatus, 'complete')? 'active' : ''}"  th:onclick="'window.location.href = \''+@{/transaction/list/complete}+'\''">Trips Selesai</div>
						</div>
					</div>
					<div  class="trip-card-container">
						<div th:if="${#lists.size(response.object)==0}" class="trip-zero-state">
							<h3>Kamu belum mempunyai perjalanan yang akan datang!</h3>
						</div>
						<div th:replace="rtms/component/transactioncard::template (data = ${response.object} )"></div>
							
					</div>
				</form>
			</div>
		</div>
		<div class="modal modal-rtms fade" id="modal-default" style="display: none;">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-body">
				  <p>Apakah kamu yakin untuk menghapus? kamu tidak dapat mengakses perjalanan ini lagi</p>
				</div>
				<div class="modal-footer">
				  <button id="deleteCancle" type="button" class="btn btn-default w-100" data-dismiss="modal">Batal</button>
				  <a id="deleteConfirm" class="btn btn-danger w-100">Hapus</a>
				</div>
			  </div>
			  <!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		  </div>

	</div>
	<th:block layout:fragment="footer-js">
		<!--<script type="text/javascript" src="https://cdn.datatables.net/s/bs/jqc-1.11.3,dt-1.10.10/datatables.min.js"></script>-->
		<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
		<script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
		<script src="../../js/si/jquery.popupoverlay.min.js"></script>
		<script th:inline="javascript">
			$( document ).ready(function() {
				var message = [[${param.alert}]];
				if(message != null){
					if(message=='publish')
                		showToast('Rencana Perjalanan sudah ditayangkan','toast-success');
					else if(message=='unpublish')
						showToast('Rencana Perjalanan sudah diturunakan','toast-warning');
					else if(message=='deleteSuccess')
						showToast('Rencana Perjalanan sudah dihapus','toast-danger');
					else if(message=='createSuccess')
						showToast('Rencana Perjalanan berhasil disimpan','toast-success');
				}
            });
		</script>
		<script type="text/javascript">
			
            $( ".toggle-option" ).click(function(event) {
				console.log($(this).next().toggleClass("option-show"));
			});
			$("#deleteCancle").click(function(event){
				$('.modal-rtms').toggleClass("in");
				$('.modal-rtms').css('display','none');
				$('#deleteConfirm').attr("href", '');
			});
			function showPopUp(tripPriceId){
				$('.modal-rtms').toggleClass("in");
				$('.modal-rtms').css('display','block');
				$('#deleteConfirm').attr("href", '/transaction/cancel?id='+tripPriceId);
			}
			function showToast(text,status) {
				var x = document.getElementById("snackbar");
				document.getElementById("snackbar").innerHTML=text;
				x.className = "show "+status;

				setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
			}
        </script>
	</th:block>
</body>

</html>