/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .logo-wrap {
    position: fixed;
  }
  .skin-white .main-header .navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .skin-white .main-sidebar {
    position: fixed;
  }
  .skin-white .content-wrapper {
    margin-top: 6em;
  }
  .content-header {
    position: fixed;
    left: 15.5em;
    top: 1em;
    z-index: 1100;
  }
  form .box-footer {
    position: fixed !important;
    top: 0.5em;
    bottom: auto !important;
    z-index: 1040;
    max-width: 255px;
    right: 0.5em;
    border: none !important;
    background: transparent;
  }
  form .img-wrap {
    max-width: 500px;
  }
  .login-box form .box-footer {
    position: relative !important;
    top: 0;
    right: 0;
    max-width: 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  form .box-footer {
    max-width: 375px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-header {
    display: flex;
    justify-content: space-between;
  }
  .main-header .logo {
    padding: 0;
    background-color: transparent !important;
  }
  .main-header .logo img {
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
  }
  .main-header .logo .logo-lg {
    font-size: 15px !important;
    line-height: 16px;
  }
  .main-header .navbar {
    position: unset;
    justify-content: flex-end;
    background-color: transparent !important;
  }
  .main-header .navbar .sidebar-toggle {
    display: block;
  }
  .sidebar-open .main-header .navbar .sidebar-toggle {
    background-image: url("/rtms/assets/014_icon_close.svg") !important;
    background-color: transparent !important;
  }
  .sidebar-open .main-header .logo img {
    visibility: hidden;
  }
  .sidebar-open .main-header .logo .logo-lg::after {
    content: "";
    background-image: url(/rtms/assets/logogram_r2r_white.svg);
    position: absolute;
    left: -45px;
    width: 34.5px;
    height: 100%;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .sidebar-open .main-header .logo .logo-lg {
    color: var(--white) !important;
    position: relative;
  }
  .sidebar-open .main-sidebar {
    width: 100%;
    background-color: var(--cobalt) !important;
    position: fixed;
  }
  .sidebar-open .main-sidebar a {
    color: var(--white);
    padding: 18px !important;
  }
  .main-sidebar .sidebar-menu li::after {
    display: none;
  }
  .main-sidebar .sidebar-menu li:hover a,
  .main-sidebar .sidebar-menu li.active a {
    background: transparent;
    color: var(--white);
  }
  .content-wrapper {
    border-radius: 0 !important;
    border-top: 1px solid var(--white-five);
    margin-left: 0;
    margin-right: 0;
  }
  .content-wrapper .content {
    padding: 0;
    margin-top: 1.5em;
  }
  .form-price-motor .modal-header .close{
    position: relative;
    z-index: 100;
  }
  .form-price-motor .modal-dialog {
    margin: 0;
  }
  .form-price-motor .modal.in .modal-dialog {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .form-price-motor .modal-content {
    height: 75vh;
  }
  .form-price-motor .modal-body {
    height: 70%;
    overflow-y: scroll;
  }
  .form-price-motor .modal-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

@media (max-height: 700px) {
  .form-price-motor .modal-body {
    height: 64%;
    overflow-y: scroll;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
