
.trip-card-container {
	display: flex;
	flex-flow: column wrap;
	height: 900px;
}



.trip-card-container::before,
.trip-card-container::after {
  /* content: "";
  flex-basis: 100%;
  width: 0;
  order: 2; */
}
.trip-card {
	width: 48%;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #e6e6e6;
	margin: 10px;
	border-radius: 10px;

}

@media (min-width: 768px) {
}
.trip-card .card-title{
	margin-top: 13px;
	margin-bottom: 16px;

}
.trip-card h4{
	font-size: 16px;
	font-weight: bold;
	line-height: 1;

}

.trip-card .btn.w-100 {
  width: 100%;
}
.trip-card .btn-primary-blank{
	border-radius: 4px !important;
	border-color: var(--cobalt);
	color: var(--cobalt);
	background-color: var(--white);
	padding: 8px 0 7px;
}
.trip-card .btn-default{
  color: var(--black);
  border-color: var(--white-four);
  background-color: var(--white);
}
.trip-card .btn-primary {
	background-color: var(--cobalt);
	color: var(--white-four);
  }
.trip-card .btn-primary:hover,
.trip-card .btn-primary:active {
  color: var(--faded-blue) !important;
  background-color: var(--dark-indigo) !important;
}

.trip-card .btn-danger {
	border: solid 1px var(--grapefruit);
  background-color: var(--white);
	color:var(--grapefruit);
  }
.trip-card .btn-danger:hover,
.trip-card .btn-danger:active {
  border: solid 1px var(--grapefruit);
  background-color: var(--grapefruit);
	color: var(--white);
}

.trip-card .alert{
	padding: 5px;
	margin-top: 10px;
}
.trip-card .alert-warning{
	background-color: #fff1d6 !important;
	border-color: #fff1d6;
	border-radius: 8px;
	color: #000 !important;
	line-height: 1.6;
	padding : 8px 16px;
}

.trip-card .alert-warning small{
	font-size: 10px;
	line-height: 1.6;
}

.trip-card .badge{
  font-size: 8px;
  text-transform: uppercase;
  color: #000;
  font-weight:normal;
	border-radius: 4px;
	padding: 5px 10px;
}

.trip-card  .badge-publish{
  background-color : #91f0ae;
}
.trip-card  .badge-draft{
	background-color : #e6e6e6;
  }
.trip-info{
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-bottom: 12px;
}

.trip-info .trip-info-item{
	width: 33.333%;
	margin: 0px 8px;
}
.trip-info .trip-info-item-static{
	font-size: 10px !important;
	margin-bottom: 8px;
	color: #999999;
}
.trip-info .trip-info-item h6{
	font-size: 12px;
	font-weight: normal;
}
.trip-info .trip-info-item:first-child{
	margin-left: 0px;
}
.trip-info .trip-info-item:last-child{
	margin-right: 0px;
}
.card-body {
	padding: 16px 16px;
}
.card-header{
	/* margin: 5px; */
}
.trip-option{
	float: right;
	padding-top: 5px;
}

@media (max-width: 1199.98px) {
	.trip-card-container {
		flex-flow: row wrap;
		height: auto;
	}

	.trip-card{
		position: relative;
	display: flex;
	flex-direction: column;
	min-width: 420px;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #e6e6e6;
	margin: 10px;
	border-radius: 10px;
	flex: 1 1 auto;
	}
	
}