.trip-zero-state{
	display:flex;
	flex-direction: column;
	align-items: center;
	padding:16px;
}
.trip-zero-state img{
	width: 40%;
	max-width: 180px;
}
.trip-zero-state h3,.trip-zero-state ol{
	margin-top : 24px;

}
.trip-zero-state h3{
	text-align: center;
	font-size: 16px;
	padding-left: 20px;
}
.trip-zero-state span{
	margin-top : 8px;
	font-size: 12px;
}
.trip-zero-state ol{
	counter-reset: my-awesome-counter;
	list-style: none;
	padding-left: 40px;
}
.trip-zero-state li{
	margin: 0 0 16px 0;
	font-size: 12px;
	counter-increment: my-awesome-counter;
	position: relative;
}
.trip-zero-state ol li::before {
	content: counter(my-awesome-counter);
	color: var(--white);
	background: var(--black);
	border-radius: 50%;
	width: 16px;
	text-align: center;
	display: inline-block;
	font-size: 12px;
	margin-right: 10px;

}
.trip-card-container {
	display: flex;
	flex-flow: column wrap;
	height: 900px;
	padding-bottom: 4em;
}



 /*.trip-card-container::before,
.trip-card-container::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2; 
}*/
.trip-card {
	width: 48%;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #e6e6e6;
	margin: 10px;
	border-radius: 10px;

}

@media (min-width: 768px) {
}
.trip-card .card-title{
	margin-top: 13px;
	margin-bottom: 16px;

}
.trip-card h4{
	font-size: 18px;
	font-weight: bold;
	line-height: 1;

}

.trip-card .btn.w-100 {
  width: 100%;
}
.trip-card .btn{
	padding: 8px 0 7px;
}
.trip-card .btn-primary-blank{
	border-radius: 4px !important;
	border-color: var(--cobalt);
	color: var(--cobalt);
	background-color: var(--white);
	
}
.trip-card .btn-default{
  color: var(--black);
  border-color: var(--white-four);
  background-color: var(--white);
}
.trip-card .btn-primary {
	background-color: var(--cobalt);
	color: var(--white-four);
  }
.trip-card .btn-primary:hover,
.trip-card .btn-primary:active {
  color: var(--faded-blue) !important;
  background-color: var(--dark-indigo) !important;
}

.trip-card .btn-danger {
	border: solid 1px var(--grapefruit);
  background-color: var(--white);
	color:var(--grapefruit);
  }
.trip-card .btn-danger:hover,
.trip-card .btn-danger:active {
  border: solid 1px var(--grapefruit);
  background-color: var(--grapefruit);
	color: var(--white);
}

.trip-card .alert{
	padding: 5px;
	margin-top: 10px;
}
.trip-card .alert-warning{
	background-color: #fff1d6 !important;
	border-color: #fff1d6;
	border-radius: 8px;
	color: #000 !important;
	line-height: 1.6;
	padding : 8px 16px;
}

.trip-card .alert-warning small{
	font-size: small;
	line-height: 1.6;
}

.trip-card .badge{
  font-size: small;
  text-transform: uppercase;
  color: #000;
  font-weight:normal;
	border-radius: 4px;
	padding: 5px 10px;
}

.trip-card  .badge-publish{
  background-color : #91f0ae;
}
.trip-card  .badge-draft{
	background-color : #e6e6e6;
  }
.trip-info{
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-bottom: 12px;
}

.trip-info .trip-info-item{
	width: 33.333%;
	margin: 0px 8px;
}

.trip-info .trip-info-item .warning-badge{
	background-image: url(/rtms/assets/011_icon_warning.svg);
  background-repeat: no-repeat;
  background-position: center;
	background-size: contain !important;
  background-color: transparent !important;
	padding: 7px;
	margin-left: 6px;
}
.trip-info .trip-info-item-static{
	font-size: small !important;
	margin-bottom: 8px;
	color: #999999;
}
.trip-info .trip-info-item h6{
	font-size: 14px;
	font-weight: normal;
}
.trip-info .trip-info-item:first-child{
	margin-left: 0px;
}
.trip-info .trip-info-item:last-child{
	margin-right: 0px;
}
.card-body {
	padding: 16px 16px;
}
.card-header{
	position: relative;
}

.trip-option-menu{
	position: absolute;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
	float:right;
	display: none;
	z-index: 100;
	right:0;
}
.option-show{
	display: block;
}

.trip-option-menu li{
	padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}
.trip-option-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}
.trip-option:before {
	content: "";
  }
.trip-option{
	background-image: url(/rtms/assets/010_icon_option.svg);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain !important;
    background-color: transparent !important;
	float: right;
	padding: 10px;
}
@media (max-width: 767.98px) {
	.trip-card{
		min-width: 300px;
	}

}
@media (max-width: 1199.98px) {
	.trip-zero-state{
		margin: auto;
	}
	.trip-card-container {
		flex-flow: row wrap;
		height: auto;
	}

	.trip-card{
		position: relative;
		display: flex;
		flex-direction: column;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid #e6e6e6;
		margin: 10px;
		border-radius: 10px;
		flex: 1 1 auto;
	}
	
}