<div class="itinerary-form" th:fragment="template (trip,data)">
    <div class="tab-day">
        <div th:class="${i == data[0].group ? 'active' : ''}" th:onclick="'window.location.href = \''+@{/trip/rtms/form/itinerary?tripId={tripId}&itineraryGroupId={groupId}(tripId=${trip.id},groupId=${i})}+'\''"th:each="i: ${#numbers.sequence(1, trip.duration)}">Hari [[${i}]]</div>
    </div>
    <div class="main">
        <div>
            <div class="form-group">
                <label >Judul hari [[${param.itineraryGroupId}]]</label>
                <input type="text" class="form-control title-day" th:value="${data[0].groupTitle}"  placeholder="Masukkan Judul" required>
                <span class="help-block">100/100</span>
            </div>
            <section class="itinerary-section" th:each="itinerary, iterStat:${data}">
                <input class="id" type="hidden" th:name="${'itineraries['+iterStat.index+'].id'}"  th:value="${itinerary.id != null && itinerary.id != 0 ? itinerary.id : 0}" />
                <div class="form-group image">
                    <label>Foto</label>
                    <input type="url" th:id="${'hidden-cover-potrait-'+iterStat.index}" style="opacity: 0; position: absolute;"  class="dummy" th:name="${'itineraries['+iterStat.index+'].imageUrl'}" th:value="${itinerary.imageUrl}" required />
                    <input type="file" style="display: none;" th:id="${'cover-potrait-'+iterStat.index}" />
                    <div class="input-icon">
                        <input type="text" class="form-control mask-file" value="Upload gambar" readonly />
                    </div>
                    <span class="help-block">Maks. 150kb</span>
                    <div
                        th:replace="rtms/component/uploadSuccessBox::template(section = ${'cover-potrait-'+iterStat.index}, urlImageField=${itinerary.imageUrl})">
                    </div>
                </div>
                <div class="form-group title">
                    <label>Tujuan</label>
                    <textarea th:text="${itinerary.title}" th:name="${'itineraries['+iterStat.index+'].title'}" class="form-control dummy" rows="2" placeholder="Masukkan Tujuan"></textarea>
                    <span class="help-block">100/100</span>
                </div>
                <div class="form-group init-mce description">
                    <label>Deskripsi</label>
                    <textarea th:text="${itinerary.description}" th:name="${'itineraries['+iterStat.index+'].description'}" class="form-control mce-editor dummy" rows="4" placeholder="Masukkan deskripsi singkat"></textarea>
                </div>
                <input type="hidden" class="title-group" th:name="${'itineraries['+iterStat.index+'].groupTitle'}" th:value="${itinerary.groupTitle}" />
                <input type="hidden" class="id-group" th:name="${'itineraries['+iterStat.index+'].group'}" th:value="${itinerary.group}" />
                <button id="remove" class="btn btn-danger pull-right">Hapus</button>
                <div style="clear: both;"></div>
            </section>
            <button type="button" class="btn btn-default">+ Tambah Tujuan</button>
        </div>
        <div class="list-del collapse"></div>
    </div>
</div>