<div class="trip-card">
	<div class="card-body">
		<div class="card-header">
			<span class="badge btn-success"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Terpublikasi</span> <i
				class="trip-option fa fa-ellipsis-v fa-lg"></i>
		</div>
		<h4>Belitong (Half Ride)</h4>
		<div class="trip-info">
			<div class="trip-info-item">
				<h6>Lama</h6>
				<h6>12 Hari</h6>
			</div>
			<div class="trip-info-item">
				<h6>Jadwal</h6>
				<h6>10 Paket</h6>
			</div>
			<div class="trip-info-item">
				<h6>Rencana Perjalanan</h6>
				<h6>Lengkap</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="alert alert-warning" role="alert"><small>Jadwal kamu sedikit, tambah perjalanan agar lebih banyak
						variasi jadwal</small></div>
			</div>

		</div>
		<div class="trip-info">
			<div class="trip-info-item">
				<button type="submit" class="btn btn-default">Edit</button>
			</div>
			<div class="trip-info-item">
				<button type="submit" class="btn btn-primary">Jadwal</button>
			</div>
			<div class="trip-info-item">
				<button type="submit" class="btn btn-danger">Turunkan</button>
			</div>
		</div>
	</div>
</div>